aliyun-python-sdk-core==2.13.26
aliyun-python-sdk-ecs==4.19.12
amqp==5.0.1
asgiref==3.2.10
billiard==3.6.3.0
celery==5.0.0
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
Django==3.1.1
djangorestframework==3.11.1
jmespath==0.10.0
kombu==5.0.2
mysqlclient==2.0.1
prompt-toolkit==3.0.7
python-dotenv==0.14.0
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
vine==5.0.0
wcwidth==0.2.5
